<header>
    <nav class="navbar navbar-expand-lg jccenter navbar-light ">
        <a class="navbar-brand" href="#"><img class="" src="eelogo.png"/></a>
        <div class="Container row mr-2">
            <div class="ml-10 w-full flexhead ">
                <ul class="navbar-nav pd-16 mr-auto ">
                    <li class="t-22">
                        Welcome Darshan Doshi!
                    </li>
                </ul>
                <span class="navbar-text ">
                    <ul class="navbar-nav cust-flex ib mr-auto">
                        <li class=" lia">
                            <a class=" liaa" href="#"><img src="1.png"/></a>
                        </li>
                        <li class="lia">
                            <a class="liaa" href="#"><img src="2.png"/></a>
                        </li>
                        <li class="lia">
                            <a class="liaa" href="#"><img src="export.jpg"/></a>
                    </li>
                     <li class="lia">
                            <a class="liaa" href="#"><img src="print.jpg"/></a>
                        </li>
                        <li class="lia">
                            <a class="liaa" href="#"><img src="3.png"/></a>
                        </li>
                    </ul>
                </span>
            </div>
        <div class = "ml-10 mr-2 iflx w-full">
            <a class=""><img class=" " src= "4.png"/></a>
            <input type="text" class="wdth" placeholder="Search..">
            <a class="" type="submit"><img src="5.png"/></a>
        </div>
    </nav>
    
        <nav class="mynav w-full navbar-expand-md navb">
            <button class="navbar-toggler mb-15" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><svg fill="#000000" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" width="50px" height="50px"><path d="M 0 7.5 L 0 12.5 L 50 12.5 L 50 7.5 Z M 0 22.5 L 0 27.5 L 50 27.5 L 50 22.5 Z M 0 37.5 L 0 42.5 L 50 42.5 L 50 37.5 Z"/></svg></span>
            </button> 
            <div class="w-full darkblue nabmargins collapse navbar-collapse"  id="navbarText">
                <ul class="navbar-nav space-around nabmargins w-full">
   

                    <li class="er">
                      <a class="nl" href="#">Create New CM</a>
                    </li>
                    <li class="er">
                      <a class="nl" href="#">Enter CM Metrics</a>
                    </li>
                    <li class="er">
                      <a class="nl" href="#">MyEEM Metrics</a>
                    </li>
                    <li class="er">
                        <a class="nl" href="#">Service Review</a>
                    </li>
                    <li class="er">
                        <a class="nl" href="#">Admin Panel</a>
                    </li>
                </ul>
            </div>   
        </nav>
         
    </header>

    <!-- Bread Crumb Section -->
     <nav aria-label="breadcrumb" class="npnm iflx w-full">
        <ul><li class="breadcrumb-item"><a href="#"><img  style="margin:1px" src="6.png"></a></li></ul>
        <ul class="breadcrumb npnm w-full">
         
    
         <li id="list-1" class="brd active" aria-current="page"><a href="#" >Search Results for abbvie</a></li>
          <li id="list-2" class="brd active" aria-current="page"><a href="#" >CM Overview</a></li>
         
          
          
              <li id="list-3" class="brd active" aria-current="page"><a href="#" >CM Overview</a></li>
          <li id="list-4" class="brd active" aria-current="page"><a href="#" >CM Overview Product</a></li>
        
        </div>

        </ul>
    </nav>
   



<!--Abriviation Section -->
<div class="mast">
<div class="row reviewSection">
  <div class="col-md-10 ">
     <h4 class="italic">ABBVIE</h4>
      <p>DEPT GS02 BLDG APS </br>NORTH CHICAGO </br>USA</p>
  </div>
  <div class="col-md-2 table">
     <div class="review">
     <p >MP:0000396234</br> Service Review:</br>
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>  </p>
     </div>
      {{!-- <img class="call-out" src="comfortis.png" alt="image" style="width:150px;height:100px"> --}}
   </div>

</div>
</div>


<!---Form Section -->
<div class="mast  fromsection">
<div class="row BoxSection cardBorders">
  <div class="col-md Forms">
  <div class="headerwithicon">
    <p class="header">HSE Section: 
    
    <span class="fa-stack " id="xyz">
    <i class="fa fa-square fa-stack-1x icon-a"></i>
    <i class="fa fa-info-square fa-stack-1x icon-b"></i>
   </span>

 {{!-- <i class="fa fa-info" id="xyz" ></i>--}}</p> 
    </div>
    <form class="forms-5" >
                                <label >CM Integration:<span class="mandatory">*</span></label></br>
                                  <div class="customdropdown">
                                      <span class="dropdown ">
                                      <select class="abc">
                                         <option  value="Select">High Touch</option>
                                          <option value="Vet">Low</option>
                                          <option value="Tech">Medium</option>
                                       </select>
                                      </span>
                                   </div>
 
                                  <label >Service Type:<span class="mandatory">*</span></label></br>
                                  <div class="customdropdown">
                                      <span class="dropdown ">
                                      <select class="abc">
                                         <option  value="Select">Partial</option>
                                          <option value="Vet">Non-Partial</option>
                                          <option value="Tech">Full</option>
                                       </select>
                                      </span>
                                   </div>
        
                                   <label >Vendor Type:<span class="mandatory">*</span></label></br>
                                   <div class="customdropdown">
                                      <span class="dropdown ">
                                      <select class="abc">
                                         <option  value="Select">CM</option>
                                          <option value="Vet">PM</option>
                                          <option value="Tech">AM</option>
                                       </select>
                                      </span>
                                   </div>
       
                                  <label >Hub Oversight:<span class="mandatory">*</span></label></br>
                                  <div class="customdropdown">
                                      <span class="dropdown ">
                                      <select class="abc">
                                         <option  value="Select">EEM-NA</option>
                                          <option value="Vet">Yes</option>
                                          <option value="Tech">No</option>
                                       </select>
                                      </span>
                                   </div>
                                  
        
                                 <label >Operation Leader:<span class="mandatory">*</span></label></br>
                                 <div class="inputWithIcon inputIconBg">
                                  <input type="text" >
                                  <i class="fa fa-user icon"></i>
                                  </div>
                                 
                                <label >JPT Leader:<span class="mandatory">*</span></label></br>
                                <div class="inputWithIcon inputIconBg">
                                  <input type="text" >
                                  <i class="fa fa-user icon"></i>
                                  </div>
        
                              <label >Comments:</label></br>
                               <textarea class="comments"></textarea>
     </form>
      
  </div>
  <div class="col-md Forms">
     <div class="headerwithicon">
    <p class="header" id="long-header">Procurment/Supply Chain : 
        <span class="fa-stack" id="xyz">
    <i class="fa fa-square fa-stack-1x icon-a"></i>
    <i class="fa fa-info-square fa-stack-1x icon-b"></i>
   </span>
   {{!-- <i class="fa fa-info"></i> --}}
    </p>
    </div>
     <form class="forms-5">
                              <label >Vendor Status:<span class="mandatory">*</span></label></br>
                                    <div class="customdropdown">
                                      <span class="dropdown ">
                                      <select class="abc">
                                         <option  value="Select">In Termination</option>
                                          <option value="Vet">PM</option>
                                          <option value="Tech">AM</option>
                                       </select>
                                      </span>
                                   </div>

                                    <label >Supply Scope:</label></br>
                                    <div class="customdropdown">
                                      <span class="dropdown ">
                                      <select class="abc">
                                         <option  value="Select">Global</option>
                                          <option value="Vet">Local</option>
                                          <option value="Tech">Multiple</option>
                                       </select>
                                      </span>
                                   </div>
        
                                   <label >Contract-Not-in-Place:</label><input type="checkbox" id="vehicle1" name="vehicle1" value="Bike"></br>
    
                                 <div class="form-group inputWithIcons inputIconBgs"> <!-- Date input -->
                                  <label class="datepickerlabel">Contract Expiration:<span class="mandatory">*</span></label>
                             <input class="form-control" id="date" name="date" placeholder="MM/DD/YYY"
                                    value="31-Dec-2020" type="text"/>
                                    {{!-- <i class="fa fa-plus"></i> --}}
                            <span class="fa fa-calendar open-datetimepicker"></span>
                                        </div>
     
     
                                      <label >Volume Commitment:</label></br>
                                      <div class="customdropdown">
                                      <span class="dropdown ">
                                      <select class="abc">
                                         <option  value="Select">Yes</option>
                                          <option value="Vet">No</option>
                                       </select>
                                      </span>
                                   </div>
        
                               <label >Comments:</label></br>
                               <textarea class="comments"></textarea>
     </form>
  </div>
  <div class="col-md Forms">
     <div class="headerwithicon">
    <p class="header">Quality: 
         <span class="fa-stack" id="xyz">
    <i class="fa fa-square fa-stack-1x icon-a"></i>
    <i class="fa fa-info-square fa-stack-1x icon-b"></i>
   </span>
       
        {{!-- <i class="fa fa-info" id="xyz" ></i> --}}
        </p>
    </div>
     <form class="forms-5" >
                                      <label >Quality Risk:<i class="fas fa-download"></i></label></br>
                                        <div class="customdropdown">
                                      <span class="dropdown ">
                                      <select class="abc">
                                         <option  value="Select">Low</option>
                                          <option value="Vet">High</option>
                                       </select>
                                      </span>
                                   </div>

                                        <label >QTA-Not-in-Place:</label>
                                          <input type="checkbox"/></br>
        
                                        
                                        <div class="form-group inputWithIcons inputIconBgs"> <!-- Date input -->
                                  <label class="datepickerlabel">Initial QTA Signature Date:</label>
                             <input class="form-control" id="date" name="date" placeholder="MM/DD/YYY"
                                    value="15-Dec-2020" type="text"/>
                            <span class="fa fa-calendar open-datetimepicker"></span>
                                         </div>
       
                                      
                                         <div class="form-group inputWithIcons inputIconBgs"> <!-- Date input -->
                                  <label class="datepickerlabel">QTA Approval Date:<span class="mandatory">*</span></label>
                             <input class="form-control" id="date" name="date" placeholder="MM/DD/YYY"
                                    value="21-Dec-2020" type="text"/>
                            <span class="fa fa-calendar open-datetimepicker"></span>
                                         </div>
        
                                          
                                        <div class="form-group inputWithIcons inputIconBgs"> <!-- Date input -->
                                  <label class="datepickerlabel">QTA Review Date:<span class="mandatory">*</span></label>
                             <input class="form-control" id="date" name="date" placeholder="MM/DD/YYY"
                                    value="31-Dec-2020" type="text"/>
                            <span class="fa fa-calendar open-datetimepicker"></span>
                                         </div>
        
                                        
                                        <div class="form-group inputWithIcons inputIconBgs"> <!-- Date input -->
                                  <label class="datepickerlabel">Last GQA Audit:</label>
                             <input class="form-control" id="date" name="date" placeholder="MM/DD/YYY"
                                    value="31-Mar-2020" type="text"/>
                            <span class="fa fa-calendar open-datetimepicker"></span>
                                         </div>
        
                                        <label >Availaible Certification:</label></br>
                                        <div class="inputWithIcons inputIconBgs">
                                        <input type="text" >
                                        <i class="fa fa-plus" ></i>
                                        </div>
        
        
                                        <label >Quality Leader:<span class="mandatory">*</span></label></br>
                                        <div class="inputWithIcon inputIconBg">
                                  <input type="text" >
                                  <i class="fa fa-user icon"></i>
                                  </div>


                                        <label >Comments:</label></br>
                                        <textarea class="comments"></textarea>
     </form>
  </div>
  <div class="col-md Forms">
     <div class="headerwithicon">
    <p class="header">TS/MS: 
          <span class="fa-stack" id="xyz">
    <i class="fa fa-square fa-stack-1x icon-a"></i>
    <i class="fa fa-info-square fa-stack-1x icon-b"></i>
   </span>
  {{!-- <i class="fa fa-info" id="xyz" ></i> --}}
    </p>
    </div>
    <form class="forms-5">
                                      <label for="name">Technical Risk:<i class="fas fa-download"></i></label></br>
                                                <div class="customdropdown">
                                      <span class="dropdown ">
                                      <select class="abc">
                                         <option  value="Select">Low</option>
                                          <option value="Vet">High</option>
                                       </select>
                                      </span>
                                   </div>

                                          <label for="name">Manufacturing Technology:<span class="mandatory">*</span></label></br>
                                          <div class="inputWithIcons inputIconBgs BigPlus">
                                          <textarea class="comments" >
                                          </textarea>
                                          <i class="fa fa-plus" ></i>
                                          </div>
        
                                   <label for="name">Additional Serices:</label></br>
                                   <div class="inputWithIcons inputIconBgs">
                                        <input type="text" >
                                        <i class="fa fa-plus" ></i>
                                        </div>
       
                                         <label for="name">Dosage Forms:</label></br>
                                         <div class="inputWithIcons inputIconBgs">
                                        <input type="text" >
                                        <i class="fa fa-plus" ></i>
                                        </div>
        
                                          <label for="name">Production Scope:</label></br>
                                          <div class="inputWithIcons inputIconBgs">
                                        <input type="text">
                                        <i class="fa fa-plus" ></i>
                                        </div>
        
                                                 <label for="name">TS/MS Leader:</label></br>
                                                 <div class="inputWithIcon inputIconBg">
                                  <input type="text" >
                                  <i class="fa fa-user icon"></i>
                                  </div>
        
                                              <label for="name">Additional COmments On CM Production & Services:</label></br>
                                               <textarea class="comments"></textarea>
     </form>
  </div>
  <div class="col-md Forms">
     <div class="headerwithicon">
    <p class="header">HSE: 
       
           <span class="fa-stack" id="xyz">
    <i class="fa fa-square fa-stack-1x icon-a"></i>
    <i class="fa fa-info-square fa-stack-1x icon-b"></i>
   </span>
        {{!-- <i class="fa fa-info" id="xyz" ></i> --}}
        </p>
    </div>
    <form class="forms-5" >
                                 <label for="name">HSE Priority:</label></br>
                                                   <div class="customdropdown">
                                      <span class="dropdown ">
                                      <select class="abc">
                                         <option  value="Select">Medium</option>
                                          <option value="Vet">High</option>
                                       </select>
                                      </span>
                                   </div>

                                               <label for="name">HSE Catagory:</label></br>
                                               <div class="customdropdown">
                                      <span class="dropdown ">
                                      <select class="abc">
                                         <option  value="Select">Green</option>
                                          <option value="Vet">Red</option>
                                       </select>
                                      </span>
                                   </div>
        
                                                
                                                <div class="form-group inputWithIcons inputIconBgs"> <!-- Date input -->
                                  <label class="datepickerlabel">Most Recent HSE Survey:</label>
                             <input class="form-control" id="date" name="date" placeholder="MM/DD/YYY"
                                    value="5-Sep-2020" type="text"/>
                            <span class="fa fa-calendar open-datetimepicker"></span>
                                         </div>
       
                                                  
                                                   <div class="form-group inputWithIcons inputIconBgs"> <!-- Date input -->
                                  <label class="datepickerlabel">Most Recent HSE Assesement:</label>
                             <input class="form-control" id="date" name="date" placeholder="MM/DD/YYY"
                                    value="11-Oct-2020" type="text"/>
                            <span class="fa fa-calendar open-datetimepicker"></span>
                                         </div>
        
                                                
                                                <div class="form-group inputWithIcons inputIconBgs"> <!-- Date input -->
                                  <label class="datepickerlabel">Next Shceduled Assesement:</label>
                             <input class="form-control" id="date" name="date" placeholder="MM/DD/YYY"
                                    value="14-Oct-2020" type="text"/>
                            <span class="fa fa-calendar open-datetimepicker"></span>
                                         </div>

        
                                             <label for="name">HSE Certification:</label></br>
                                             <div class="inputWithIcons inputIconBgs">
                                        <input type="text">
                                        <i class="fa fa-plus" ></i>
                                        </div>
        
                                            <label for="name">HSE Leader:</label></br>
                                            <div class="inputWithIcon inputIconBg">
                                  <input type="text">
                                  <i class="fa fa-user icon"></i>
                                  </div>
     </form>
  </div>
</div>
</div>

<!--Button Section -->
<div class="w-full finalbutton">
   <button class="btn btn-primary">SAVE</button>
</div>




<!--BRANDS  Section -->
<div class="mast">
<div class="row reviewSection Brand">
  
  <div class="col-md-12 forbrand">
    <p class="brandheader">BRANDS</p>
    
     <div class="call-outs-container">
            <div class="col-xs-12 col-sm-12 col-md-12 logo">
              
           <img class="call-out" src="comfortis.png" alt="image" style="width:150px;height:100px">  
         
     
           <img  class="call-out"src="Trifixies.png" alt="image" style="width:150px;height:100px">  
        
     
           <img  class="call-out" src="tylon1.png"alt="image" style="width:150px;height:100px">  
              
        </div>
        </div>
  </div>
</div>
</div>







  <div class="row">
<div class="col-md-12 Update">
  <p>Last Updated By :Jhon Lagnininia</br>
  Last Updated By : 03/27/2020</p>
</div>
</div>



<footer>
  <div class="container-fluid">
    <div class="row footerclass">
      <div class="col-md-8">
       <p>©2020 Elanco or its affiliates.<br>
         Elanco, and the diagnal bar logo are trademarks of Elanco </p>
      </div>
      <div class="col-md-3 menu">
        <ul >
          <li  class="padd">
            <a style="text-decoration:none" href="#">Privacy Policy</a>
          </li>
          <li class="line">
            <a style="text-decoration:none" href="#">Terms of Use</a>
          </li>
        </ul>
      </div>
      <div class="col-md-1 elancologospacing">
        <img class="elancologo" src="7.png" alt="image" style="width:100px;">  
      </div>
    </div>
  </div>
</footer>


<style>

 



  /*Footer */
 
 /*Form Heading  */
 


</style>